
{% extends 'base.html' %}

{% block content %}
    <body>
        <header> 
    <div class='up-menu'>
    {% if uslugi.h1 %}
          <h1> {{uslugi.h1}} </h1> 
    {% endif %}


<div class="row">

              <!--Grid column-->
              <div class="col-md-5 mb-md-4">

                <!--Featured image-->
                <div class="view overlay z-depth-1 mb-4">
                  <img weight="450" src="/{{uslugi.image}}" class="img-fluid rounded-0" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 text-left mb-md-5 mb-4">

              
                {{ uslugi.content|safe}}
              
                <a class="btn btn-indigo btn-sm waves-effect waves-light">Заказать</a>

              </div>
              <!--Grid column-->

</div>
</div> 




<!--- Блоки преимуществ -->

{% include 'mobile/advantages.html' %}

<!-- Форма -->
{% include 'mobile/form.html' %}

<!---Отзывы-->
{% include 'mobile/reviews.html' %}




{% endblock %}
